$font-size: 10pt;
$font-size-position: $font-size + 1pt;

$gap-horizontal: 0ch;
$gap-vertical: 6pt;
$gap-list-vertical: 4pt;

$right-width: 66ch;
$left-width: 20ch;
$full-width: $left-width + $gap-horizontal + $right-width;

$rule-color: #333;
$rule-style: solid;
$rule-width: 0.5pt;
$rule: $rule-width $rule-style $rule-color;

$debug-border: 1px solid blue;

* {
  margin: 0;
  padding: 0;
  font-family: Georgia;
  /* font-family: "Officina Sans ITC Pro"; */
    font-size: $font-size;

  /* counter-reset: pageNumber 1; */
}

body {
  margin: auto;
}

code {
  font-family: "Andale Mono";
}

.debug div, .debug table {
  border: 1px solid red;
}

header, hr {
  margin-left: auto;
  margin-right: auto;
  // width: $full-width;
}

hr {
  border: none;
  border-top: $rule;
  color: $rule-color;
}

.omit {
  visibility: collapse;
}

body > * {
  margin-left: auto;
  margin-right: auto;
  margin-top: $gap-vertical;
  padding-bottom: $gap-vertical;
  // width: $full-width;
}

body > :not(:last-child) {
  border-bottom: $rule;
}

section.level3 {
  padding-top: $gap-vertical;
  padding-bottom: $gap-vertical;
  break-inside: avoid;
}

section.debug > section {
  border: $debug-border;
}

.title, header td {
  font-size: $font-size + 2pt;
  font-weight: 600;
}

.debug h2 {
  border: 1px solid black;
}

span.highlight,span.highlight {
  font-weight: 600;
}

span.skill-interviews,span.skill-mentoring {
  font-weight: 600;
}

h1, p {
  margin-top: 0pt;
  margin-bottom: 0pt;
}

h2 {
  text-transform: uppercase;
  font-size: inherit;
}

span.todo {
  padding: 3px;
  color: red;
  border: 1px solid red;
  border-radius: 3px;
}

span.todo::before {
  content:
  "todo!"
  ;
}

table {
  font-size: $font-size-position;
  margin-bottom: $gap-vertical;
  border-collapse: collapse;
  table-layout: auto;
  margin-right: auto;
  width: 100%;
}

/*  ____           _ _   _                 */
/* |  _ \ ___  ___(_) |_(_) ___  _ __  ___ */
/* | |_) / _ \/ __| | __| |/ _ \| '_ \/ __|*/
/* |  __/ (_) \__ \ | |_| | (_) | | | \__ \*/
/* |_|   \___/|___/_|\__|_|\___/|_| |_|___/*/
/*                                         */

.table-leader .level3 td {
  font-size: $font-size-position;
  white-space: nowrap;
}

.table-leader .level3 td:not(:first-child) {
  padding-left: 2pt;
}

.table-leader .level3 td:not(:last-child) {
  padding-right: 2pt;
}

.table-leader .level3 td:nth-of-type(1) {
  font-weight: bold;
}

.table-leader .level3 td:nth-of-type(1)::after {
  content: ",";
}

.table-leader .level3 td:nth-of-type(1)::after {
  font-weight: normal;
}

.table-leader .level3 td:nth-last-child(2)::before {
  content:
  ". . . . . . . . . . . . . . . . . . . . "
  ". . . . . . . . . . . . . . . . . . . . "
  ". . . . . . . . . . . . . . . . . . . . "
  ". . . . . . . . . . . . . . . . . . . . "
  ". . . . . . . . . . . . . . . . . . . . "
  ;
    text-align: justify;
  overflow: hidden;
  height: $font-size-position + 1pt;
  white-space: nowrap;
}

ul.leaders {
  padding: 0;
  list-style: none
}

ul.leaders li > span:nth-child(3) {
  width: auto;
  border-bottom: 2px red solid;
  // white-space: break-spaces;
}

div {
  border: $debug-border;
}

ul.leaders {
  border: $debug-border;
}

ul.leaders span:first-child {
  background: white
}

ul.leaders li > span:nth-child(4) {
  float: right;
  background: white
}

footer {
  font-size: x-small;
  text-align: center;
}

/*  _     _     _       */
/* | |   (_)___| |_ ___ */
/* | |   | / __| __/ __|*/
/* | |___| \__ \ |_\__ \*/
/* |_____|_|___/\__|___/*/
/*                      */

ul {
  /* margin-block-start: 0px; */
    padding-left: 20pt;
}

li {
  break-inside: avoid;
  margin-bottom: $gap-list-vertical;
}

li > ul {
  margin-top: $gap-list-vertical;
}

/* ul that have more than one child */
section.columns-two.level3 > ul, .columns-two .level3 > ul {
  column-gap: 14pt;
  columns: 2;
}
