header {
  position: fixed;
  top: 0;
}

body {
  margin-top: 20pt;
  margin-bottom: 20pt;
}

.page-count::after {
  content: "Page " counter(page) " of " counter(pages);
}

footer {
  position: fixed;
  bottom: 0;
}
